<title><%= title %> | 南京文创</title>
<script src="library/jquery-1.12.4.min.js"></script>
<script src="library/jquery-ui.min.js"></script>
<script src="library/jquery.cookie-1.4.1.min.js"></script>
<link rel="stylesheet" href="assets/main.css" />
