<!DOCTYPE html>
<html>
  <head>
    <% var data={title:'购物车'} %><% include ejs/head.ejs %>
    <script defer src="/assets/head.js"></script>
    <script defer src="/assets/search-btn.js"></script>
    <script defer src="/assets/cart.js"></script>
  </head>

  <body>
    <% include ejs/navbar.ejs %>

    <div class="search_bar clearfix">
      <a href="index.html" class="logo fl"
        ><img src="images/logo.png" width="150px" height="150px"
      /></a>
      <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
      <div class="search_con fr">
        <input
          type="text"
          class="input_text fl"
          name=""
          placeholder="搜索商品"
          id="search"
        />
        <input type="button" class="input_btn fr" name="" value="搜索" />
      </div>
    </div>

    <div class="total_count">全部商品</div>
    <ul class="cart_list_th clearfix" id="cart_title">
      <li class="col01">商品名称</li>
      <li class="col02">商品单位</li>
      <li class="col03">商品价格</li>
      <li class="col04">数量</li>
      <li class="col05">小计</li>
      <li class="col06">操作</li>
    </ul>
    <div id="cart_list"></div>

    <ul class="settlements">
      <li class="col01"><input type="checkbox" name="" id="select_all" /></li>
      <li class="col02">全选</li>
      <li class="col03">
        合计(不含运费)：<span>¥</span><em id="cart_total">00.00</em><br />共计<b
          id="cart_num"
          >0</b
        >件商品
      </li>
      <li class="col04"><a href="#" id="settle">去结算</a></li>
    </ul>

    <% data={nomp:false} %><% include ejs/footer.ejs %>
  </body>
</html>
