<!DOCTYPE html>
<html>
  <head>
    <% var data={title:'首页'} %><% include ejs/head.ejs %>
    <script defer src="/assets/slide.js"></script>
    <script defer src="/assets/search-btn.js"></script>
    <script defer src="/assets/my-cart.js"></script>
    <script defer src="/assets/head.js"></script>
    <script defer src="/assets/index.js"></script>
  </head>

  <body>
    <% include ejs/navbar.ejs %>

    <div class="search_bar clearfix">
      <a href="index.html" class="logo fl"
        ><img src="images/assets/njcci.png" width="150px"
      /></a>
      <div class="search_con fl">
        <input
          type="text"
          class="input_text fl"
          name=""
          placeholder="搜索商品"
          id="search"
        />
        <input type="button" class="input_btn fr" name="" value="搜索" />
      </div>
      <div class="guest_cart fr">
        <a href="cart.html" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count"></div>
      </div>
    </div>

    <div class="navbar_con">
      <div class="navbar">
        <h1 class="fl">全部商品分类</h1>
        <ul class="navlist fl">
          <li><a href="index.html">首页</a></li>
          <li class="interval">|</li>
          <li><a href="register-e.html">商家入驻</a></li>
        </ul>
      </div>
    </div>

    <div class="center_con clearfix">
      <ul class="subnav fl">
        <li><a href="#model01" class="bedroom">经典典藏</a></li>
        <li><a href="#model02" class="diningroom">书画图书</a></li>
        <li><a href="#model03" class="saloon">文具</a></li>
        <li><a href="#model04" class="study">家庭生活</a></li>
        <li><a href="#model05" class="wallpaper">服饰</a></li>
        <li><a href="#model06" class="style">电子产品</a></li>
      </ul>
      <div class="slide fl">
        <ul class="slide_pics">
          <li><img src="images/1.jpg" alt="幻灯片" /></li>
          <li><img src="images/2.jpg" alt="幻灯片" /></li>
          <li><img src="images/3.jpg" alt="幻灯片" /></li>
          <li><img src="images/4.jpg" alt="幻灯片" /></li>
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points"></ul>
      </div>
      <div class="adv fl">
        <a href="#"><img src="images/6.png" /></a>
        <a href="#"><img src="images/5.jpg" /></a>
      </div>
    </div>

    <div class="list_model">
      <div class="list_title clearfix">
        <h3 class="fl" id="model01">经典典藏</h3>
        <a href="#" class="goods_more fr" id="get_more_1">查看更多 ></a>
      </div>

      <div class="goods_con clearfix">
        <ul class="goods_list fl">
          <li>
            <h4><a id="goods_title_f1_0">占位</a></h4>
            <a><img id="goods_img_f1_0" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_0" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_1">占位</a></h4>
            <a><img id="goods_img_f1_1" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_1" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_2">占位</a></h4>
            <a><img id="goods_img_f1_2" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_2" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="list_model">
      <div class="list_title clearfix">
        <h3 class="fl" id="model02">书画图书</h3>
        <a href="#" class="goods_more fr" id="get_more_2">查看更多 ></a>
      </div>

      <div class="goods_con clearfix">
        <ul class="goods_list fl">
          <li>
            <h4><a id="goods_title_f2_0">占位</a></h4>
            <a><img id="goods_img_f2_0" src="images/goods.jpg" /></a>
            <div id="goods_price_f2_0" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f2_1">占位</a></h4>
            <a><img id="goods_img_f2_1" src="images/goods.jpg" /></a>
            <div id="goods_price_f2_1" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f2_2">占位</a></h4>
            <a><img id="goods_img_f2_2" src="images/goods.jpg" /></a>
            <div id="goods_price_f2_2" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f2_3">占位</a></h4>
            <a><img id="goods_img_f2_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f2_3" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="list_model">
      <div class="list_title clearfix">
        <h3 class="fl" id="model03">文具</h3>
        <a href="#" class="goods_more fr" id="get_more_3">查看更多 ></a>
      </div>

      <div class="goods_con clearfix">
        <ul class="goods_list fl">
          <li>
            <h4><a id="goods_title_f3_0">占位</a></h4>
            <a><img id="goods_img_f3_0" src="images/goods.jpg" /></a>
            <div id="goods_price_f3_0" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f3_1">占位</a></h4>
            <a><img id="goods_img_f3_1" src="images/goods.jpg" /></a>
            <div id="goods_price_f3_1" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f3_2">占位</a></h4>
            <a><img id="goods_img_f3_2" src="images/goods.jpg" /></a>
            <div id="goods_price_f3_2" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f3_3">占位</a></h4>
            <a><img id="goods_img_f3_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f3_3" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="list_model">
      <div class="list_title clearfix">
        <h3 class="fl" id="model04">家庭生活</h3>
        <a href="#" class="goods_more fr" id="get_more_4">查看更多 ></a>
      </div>

      <div class="goods_con clearfix">
        <ul class="goods_list fl">
          <li>
            <h4><a id="goods_title_f4_0">占位</a></h4>
            <a><img id="goods_img_f4_0" src="images/goods.jpg" /></a>
            <div id="goods_price_f4_0" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f4_1">占位</a></h4>
            <a><img id="goods_img_f4_1" src="images/goods.jpg" /></a>
            <div id="goods_price_f4_1" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f4_2">占位</a></h4>
            <a><img id="goods_img_f4_2" src="images/goods.jpg" /></a>
            <div id="goods_price_f4_2" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f4_3">占位</a></h4>
            <a><img id="goods_img_f4_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f4_3" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="list_model">
      <div class="list_title clearfix">
        <h3 class="fl" id="model05">服饰</h3>
        <a href="#" class="goods_more fr" id="get_more_5">查看更多 ></a>
      </div>

      <div class="goods_con clearfix">
        <ul class="goods_list fl">
          <li>
            <h4><a id="goods_title_f5_0">占位</a></h4>
            <a><img id="goods_img_f5_0" src="images/goods.jpg" /></a>
            <div id="goods_price_f5_0" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f5_1">占位</a></h4>
            <a><img id="goods_img_f5_1" src="images/goods.jpg" /></a>
            <div id="goods_price_f5_1" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f5_2">占位</a></h4>
            <a><img id="goods_img_f5_2" src="images/goods.jpg" /></a>
            <div id="goods_price_f5_2" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f5_3">占位</a></h4>
            <a><img id="goods_img_f5_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f5_3" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="list_model">
      <div class="list_title clearfix">
        <h3 class="fl" id="model06">电子产品</h3>
        <a href="#" class="goods_more fr" id="get_more_6">查看更多 ></a>
      </div>

      <div class="goods_con clearfix">
        <ul class="goods_list fl">
          <li>
            <h4><a id="goods_title_f6_0">占位</a></h4>
            <a><img id="goods_img_f6_0" src="images/goods.jpg" /></a>
            <div id="goods_price_f6_0" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f6_1">占位</a></h4>
            <a><img id="goods_img_f6_1" src="images/goods.jpg" /></a>
            <div id="goods_price_f6_1" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f6_2">占位</a></h4>
            <a><img id="goods_img_f6_2" src="images/goods.jpg" /></a>
            <div id="goods_price_f6_2" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f6_3">占位</a></h4>
            <a><img id="goods_img_f6_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f6_3" class="prize">¥ 9999.00</div>
          </li>
          <li>
            <h4><a id="goods_title_f1_3">占位</a></h4>
            <a><img id="goods_img_f1_3" src="images/goods.jpg" /></a>
            <div id="goods_price_f1_3" class="prize">¥ 9999.00</div>
          </li>
        </ul>
      </div>
    </div>

    <% data={nomp:false} %><% include ejs/footer.ejs %>
  </body>
</html>
