<!DOCTYPE html>
<html>
  <head>
    <% var data={title:'商铺中心'} %><% include ejs/head.ejs %>
    <script defer src="/assets/ajax-config.js"></script>
    <script defer src="/assets/jquery-1.12.4.min.js"></script>
    <script defer src="/assets/store_center_all.js"></script>
  </head>

  <body>
    <div class="header_con">
      <div class="header">
        <div class="welcome fl">欢迎来到QUALITY HOME! &nbsp;—— 商铺中心</div>
        <div class="fr">
          <!--				<div class="login_info fl">-->
          <!--					欢迎您：<em>张 山</em>-->
          <!--				</div>-->
        </div>
      </div>
    </div>

    <div class="search_bar clearfix">
      <a href="#" class="logo fl"
        ><img src="images/logo.png" width="150px" height="150px"
      /></a>
      <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;商铺中心</div>
      <!--		<div class="search_con fr">-->
      <!--			<input type="text" class="input_text fl" name="" placeholder="搜索商品" id="search">-->
      <!--			<input type="button" class="input_btn fr" name="" value="搜索">-->
      <!--		</div>		-->
    </div>

    <div class="main_con clearfix">
      <div class="left_menu_con clearfix">
        <h3>商铺中心</h3>
        <ul>
          <li><a href="store_center_info.html">· 商铺信息</a></li>
          <li><a href="store_center_manage.html">· 商铺订单管理</a></li>
          <li><a href="store_center_all.html" class="active">· 所有商品</a></li>
        </ul>
      </div>
      <div class="right_content clearfix">
        <div class="info_con">
          <h3 class="common_title2">
            所有商品&nbsp;&nbsp;<a class="add" href="store_center_all_add.html"
              >&nbsp;添加商品&nbsp;</a
            >
          </h3>
          <ul class="goods_type_list clearfix">
            <li id="item_0">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_1">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_2">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_3">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_4">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_5">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_6">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_7">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_8">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>

            <li id="item_9">
              <a href="#"><img src="images/goods/goods013.jpg" /></a>
              <h4><a href="#">家具</a></h4>
              <div class="operate">
                <span class="prize">￥9999.99</span>
                <span class="unit">一件</span>
                <a href="#" class="add_goods" title="加入购物车"></a>
              </div>
            </li>
          </ul>

          <div class="pagenation">
            <a href="#focus" id="pg_up">上一页</a>
            <a id="page1" href="#" class="active">1</a>
            <a href="#focus" id="pg_dn">下一页></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
      </div>
      <p>
        CopyRight © 2016 北京QUALITY HOME信息技术有限公司 All Rights Reserved
      </p>
      <p>电话：010-****888 京ICP备*******8号</p>
    </div>
  </body>
</html>
