<!DOCTYPE html>
<html>
  <head>
    <% var data={title:'商铺中心'} %><% include ejs/head.ejs %>

    <script defer src="/assets/store_add_item.js"></script>
    <script defer src="/assets/img_add.js"></script>
  </head>

  <body>
    <div class="header_con">
      <div class="header">
        <div class="welcome fl">欢迎来到QUALITY HOME! &nbsp;—— 商铺中心</div>
        <div class="fr">
          <!--				<div class="login_info fl">-->
          <!--					欢迎您：<em>张 山</em>-->
          <!--				</div>-->
        </div>
      </div>
    </div>

    <div class="search_bar clearfix">
      <a href="#" class="logo fl"
        ><img src="images/assets/njcci.png" width="150px"
      /></a>
      <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;商铺中心</div>
      <!--		<div class="search_con fr">-->
      <!--			<input type="text" class="input_text fl" name="" placeholder="搜索商品" id="search">-->
      <!--			<input type="button" class="input_btn fr" name="" value="搜索">-->
      <!--		</div>		-->
    </div>

    <div class="main_con clearfix">
      <div class="left_menu_con clearfix">
        <h3>商铺中心</h3>
        <ul>
          <li><a href="store_center_info.html">· 商铺信息</a></li>
          <li><a href="store_center_manage.html">· 商铺订单管理</a></li>
          <li><a href="store_center_all.html" class="active">· 所有商品</a></li>
        </ul>
      </div>
      <div class="right_content clearfix">
        <h3 class="common_title2">添加商品</h3>
        <div class="site_con">
          <form>
            <div class="form_group">
              <label>商品名：</label>
              <input type="text" name="" id="title" />
            </div>
            <div class="form_group form_group2">
              <label>商品描述：</label>
              <textarea class="site_area" id="description"></textarea>
            </div>
            <div class="form_group">
              <label>分类：</label>
              <select class="category" id="sort">
                <option value="1" selected="selected">卧室</option>
                <option value="2">餐厅</option>
                <option value="3">客厅</option>
                <option value="4">书房</option>
                <option value="5">墙纸</option>
                <option value="6">家装风格</option>
              </select>
            </div>
            <div class="form_group">
              <label>价格：</label>
              <input type="text" name="" id="price" />
            </div>
            <div class="form_group">
              <label>库存：</label>
              <input type="text" name="" id="stock" />
            </div>
            <div class="form_group">
              <label>商品图片：</label>
              <input
                type="text"
                name=""
                placeholder="图片地址"
                id="imgUrl"
                readonly
                unselectable="on"
              />
              <img src="" id="upload_img" />
            </div>
            <div class="form_group">
              <label></label>
              <input
                type="file"
                name="file"
                accept="image/jpeg,image/jpg,image/png,image/svg"
                id="file"
              />
            </div>
            <input type="button" name="" value="提交" class="info_submit" />
          </form>
        </div>
      </div>
    </div>

    <% data={nomp:false} %><% include ejs/footer.ejs %>
  </body>
</html>
